<!doctype html>
<!--  TODO: Thymeleaf 템플릿 엔진 오류 메시지 "Namespace 'th' is not bound" 출력되어 아래처럼 코드 추가(<html xmlns:th="http://www.thymeleaf.org">) (2025.07.28 minjae)  -->
<!--  참고 URL - https://chatgpt.com/c/6886b0a4-4f98-8010-8034-85384f67f258  -->
<!--  아래 xmlns:th에서 th는 Thymeleaf의 약자 이다.  -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">   <!-- 상대경로를 / 부터 시작하면(href="/main.css") static 폴더에 속한 파일들 접근 및 사용가능 -->
</head>
<body>

  <!--  (다른 html 파일 - (예) list.html)에서 th:replace="~{파일경로 :: fragment이름}" 이렇게 쓰면 (th:replace="~{nav.html :: navbar}")
        그 파일경로에 있던 th:fragment를 가져다가 첨부해준다. (th:fragment="navbar")
        그래서 아래 처럼 작성하면 div태그 내용물을 th:fragment="navbar" 붙은 html 덩어리로 갈아치워준다. (th:replace="~{nav.html :: navbar}")  -->
  <!--  (참고1) th:insert 사용하면 div를 갈아치우는게 아니라 div 안에 붙여넣어준다. 근데 갈아치우는게 일반적임  -->
  <!--  (참고2) th:fragment 정의는 한 파일에 여러번 사용해도 된다. (예) - nav.html 파일 안에 여러번 사용 가능 (예) - nav.html 파일 안에 여러번 사용 가능(th:fragment="navbar" / th:fragment="navbar2")  -->
  <!--  (참고3) html 덩어리((예) nav.html)로 변수나 데이터같은걸 전송해줄 수도 있다. th:replace="nav.html :: navbar('데이터1', '데이터2')"  -->

  <!--  TODO: 아래와 같은 오류 메시지가 출력되어 코드 변경 처리함. (2025.08.20 minjae)  -->
  <!--        (기존) <div th:replace="~{ nav:html :: navbar }"></div> -> (변경) <div th:replace="~{ nav.html::navbar }"></div>  -->
  <!--  오류 메시지 - Error resolving template [nav:html], template might not exist or might not be accessible  -->
  <!--  오류 원인 - list.html 템플릿의 20번째 줄에서 nav:html 템플릿을 찾을 수 없다는 오류입니다.  -->
  <!--  참고 URL - https://claude.ai/chat/3778a2ae-9c4a-4c20-94b4-f8d4d76be8e8  -->
  <!--  <div th:replace="~{ nav:html :: navbar }"></div>  -->
  <div th:replace="~{ nav.html::navbar }"></div>

  <div class="detail">
    <h4>상세페이지</h4>
    <img src="https://placehold.co/300">
    <!--  <h4 th:text="${data}">테스트</h4> -->  <!--  화면 출력 예시 - Item(id=3, title=자켓, price=6000)  -->
    <h4 th:text="${data.title}">금도금 바지</h4>
    <p th:text="${data.price + '원'}">7억</p>
  </div>

<!--  TODO: 아래 주석친 코드 필요시 참고 (2025.08.22 minjae)  -->
<!--  <div class="detail">-->
<!--    <h4>상세페이지</h4>-->
<!--    <img src="https://placehold.co/300">-->
<!--    <h4 th:text="${data.title}">금도금 바지</h4>-->
<!--    <p th:text="${data.price}">7억</p>-->
<!--    &lt;!&ndash;  TODO: 아래와 같은 오류 메시지 출력되어 오류 원인 파악 결과 data이 List가 아닌 단일 Item 클래스 객체 data로 확인 &ndash;&gt;-->
<!--    &lt;!&ndash;        하여 thymeleaf 문법 (기존) th:text="${data.get(0).title}" th:text="${data.get(0).price}" -> (변경) th:text="${data.title}" th:text="${data.price}" (2025.08.21 minjae)  &ndash;&gt;-->
<!--    &lt;!&ndash;  오류 메시지: Caused by: org.attoparser.ParseException: Exception evaluating SpringEL expression: "data.get(0).title" (template: "detail.html" - line 19, col 9) &ndash;&gt;-->
<!--    &lt;!&ndash;  오류 메시지 2: Caused by: org.thymeleaf.exceptions.TemplateProcessingException: Exception evaluating SpringEL expression: "data.get(0).title" (template: "detail.html" - line 19, col 9) &ndash;&gt;-->
<!--    &lt;!&ndash;  참고 URL - https://claude.ai/chat/7580a329-4794-45b9-9035-a5bb5a8990bb  &ndash;&gt;-->
<!--    &lt;!&ndash;  <h4 th:text="${data.get(0).title}">금도금 바지</h4>  &ndash;&gt;-->
<!--    &lt;!&ndash;  <p th:text="${data.get(0).price}">7억</p>  &ndash;&gt;-->
<!--    &lt;!&ndash;  <h4>금도금 바지</h4>  &ndash;&gt;-->
<!--    &lt;!&ndash;  <p>7억</p>  &ndash;&gt;-->
<!--  </div>-->

</body>
</html>