<!doctype html>
<!--  TODO: Thymeleaf 템플릿 엔진 오류 메시지 "Namespace 'th' is not bound" 출력되어 아래처럼 코드 추가(<html xmlns:th="http://www.thymeleaf.org">) (2025.07.28 minjae)  -->
<!--  참고 URL - https://chatgpt.com/c/6886b0a4-4f98-8010-8034-85384f67f258  -->
<!--  아래 xmlns:th에서 th는 Thymeleaf의 약자 이다.  -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">   <!-- 상대경로를 / 부터 시작하면(href="/main.css") static 폴더에 속한 파일들 접근 및 사용가능 -->
</head>
<body>

  <!--  (다른 html 파일 - (예) list.html)에서 th:replace="~{파일경로 :: fragment이름}" 이렇게 쓰면 (th:replace="~{nav.html :: navbar}")
        그 파일경로에 있던 th:fragment를 가져다가 첨부해준다. (th:fragment="navbar")
        그래서 아래 처럼 작성하면 div태그 내용물을 th:fragment="navbar" 붙은 html 덩어리로 갈아치워준다. (th:replace="~{nav.html :: navbar}")  -->
  <!--  (참고1) th:insert 사용하면 div를 갈아치우는게 아니라 div 안에 붙여넣어준다. 근데 갈아치우는게 일반적임  -->
  <!--  (참고2) th:fragment 정의는 한 파일에 여러번 사용해도 된다. (예) - nav.html 파일 안에 여러번 사용 가능 (예) - nav.html 파일 안에 여러번 사용 가능(th:fragment="navbar" / th:fragment="navbar2")  -->
  <!--  (참고3) html 덩어리((예) nav.html)로 변수나 데이터같은걸 전송해줄 수도 있다. th:replace="nav.html :: navbar('데이터1', '데이터2')"  -->

  <!--  TODO: 아래와 같은 오류 메시지가 출력되어 코드 변경 처리함. (2025.08.20 minjae)  -->
  <!--        (기존) <div th:replace="~{ nav:html :: navbar }"></div> -> (변경) <div th:replace="~{ nav.html::navbar }"></div>  -->
  <!--  오류 메시지 - Error resolving template [nav:html], template might not exist or might not be accessible  -->
  <!--  오류 원인 - list.html 템플릿의 20번째 줄에서 nav:html 템플릿을 찾을 수 없다는 오류입니다.  -->
  <!--  참고 URL - https://claude.ai/chat/3778a2ae-9c4a-4c20-94b4-f8d4d76be8e8  -->
  <!--  <div th:replace="~{ nav:html :: navbar }"></div>  -->
  <div th:replace="~{ nav.html::navbar }"></div>

  <!--  글수정 기능?  -->
  <!--  1. 글마다 수정버튼이 있는데 누르면 글수정 웹페이지(edit.html)로 이동  -->
  <!--  2. 그 웹페이지엔 폼(<form>)이 있고 글의 내용이 이미 채워져있음  -->
  <!--  전송버튼(<button type="button">전송</button>) 눌렀을 때 특정 /URL로 POST요청 전송 및 DB의 기존 글 수정 (웹서버 API 함수로 데이터 전송 가능)  -->
  <!--  <form action="/update" method="POST">  -->
  <form action="/edit" method="POST">
    <!--  TODO: 글수정 기능을 실행하기 위해 글번호 id 값(th:value="${data.id}")도 같이 전송해야 해서 아래 <input> 태그 숨김처리(type="hidden") 구현 (2025.09.02 minjae)  -->
    <!--  참고 URL - https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/hidden  -->
    <!--  <input> 태그에 미리 입력(또는 저장) 해둔 값을 출력하기 위해 th:value 속성 사용 -->
    <!--  value속성(th:value) 만지면 이미 채워진 값("${data.title}" / "${data.price}")을 맘대로 설정할 수 있다.  -->
    <!--  참고 URL - https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html  -->
    <!--  <input type="hidden" name="id" th:value="${data.id}">  -->
    <!--  TODO: 글수정 기능을 실행하기 위해 글번호 id 값(th:value="${data.id}")도 같이 전송해야 해서 아래 <input> 태그가 화면 상 어떤 영역을 차지하지 않고 완전히 삭제 처리 하도록 display:none 설정 구현 (2025.09.03 minjae)  -->
    <!--  참고 URL - https://developer.mozilla.org/en-US/docs/Web/CSS/display  -->
    <!--  참고 2 URL - https://mber.tistory.com/42  -->
    <input name="id" th:value="${data.id}" style="display:none">
    <input name="title" th:value="${data.title}">
    <input name="price" th:value="${data.price}">
    <button type="submit">전송</button>
  </form>

</body>
</html>